html {
    background: #43324d;
    background-image: linear-gradient(135deg, #412F47 20%, #463958 80%);
    background-attachment: fixed;
    font-family: Verdana;
    color: white;
    font-size:2em;

    text-align: center;
}

table {
    padding: 10px;
    margin: 20px 0px;

    box-shadow: 2px 2px #39273B;
    background: #3F2B41;

    width: 100%;
}

td {

    width: 20%;
}